# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/

# SwiftLint / swift-format
.swiftlint/RemoteConfigCache
.swift-format

# Sentry CLI config
.sentryclirc
